<section class="section row" id="monProfilSection">
    <div class="col-sm-8">
        <h2>Mon profil</h2>
        <p>
          Passionné de nouvelles technologies, j’ai démarré il y a 5 ans ma carrière en tant qu’ingénieur d'études en développement web, me spécialisant dans les technologies suivantes :
        </p>
        <ul>
          <li>Back-end : Java, Spring, Hibernate</li>
          <li>Front-end : Angular, RxJS, Bootstrap</li>
          <li>DevOps : Docker, Jenkins, Swarm</li>
        </ul>
        <p>
          L’année 2020 va représenter pour moi, un nouveau défi.<br/>
          En effet, je démarre mon activité de freelance, je mets donc à disposition mes compétences en développement (Back, Front, DevOps…) pour vous aider à mener à bien vos projets.
        </p>
    </div>
    <img class="col-sm-4" src="assets/img/monProfil.jpg" alt="Ma photo de profil" id="monProfilPhoto"/>
</section>
