<section class="section row flex-column">
  <h2>Ce qu'ils disent de moi</h2>
  <div class="d-flex justify-content-center">
    <div>
      <img class="recommandationPhoto rounded-circle" src="assets/img/recommandations/paul.jpg"/>
    </div>
    <div class="col-lg-5">
      <p class="recommandationText">
        « Jérôme est un bon élément, avec des qualités humaines qui lui permette de s'intégrer facilement en équipe.
        Il a un bon esprit critique et de très bonnes connaissances techniques.
        Il est curieux et force de proposition. Ce fut une très bonne collaboration... »
      </p>
      <strong>Paul Renier, Association Cocktail</strong>
      <a target="_blank" class="ml-2" href="https://www.linkedin.com/in/paul-renier/"><i class="fa fa-linkedin-square"></i></a>
    </div>
  </div>
</section>

