<div class="container">
  <h2>Proposez votre projet</h2>
  <form class="mt-4">
    <div class="form-group">
      <label for="nameInput">Identité</label>
      <input type="text" class="form-control" id="nameInput" name="nameInput" placeholder="Nom prénom" [(ngModel)]="name">
    </div>
    <div class="form-group">
      <label for="emailInput">Email</label>
      <input type="email" class="form-control" id="emailInput" name="emailInput" aria-describedby="emailHelp" placeholder="nom.prenom@domaine.com" [(ngModel)]="email">
      <small id="emailHelp" class="form-text text-muted">Votre email ne sera pas partagé.</small>
    </div>
    <div class="form-group">
      <label for="messageInput">Description du projet</label>
      <textarea class="form-control" id="messageInput" name="messageInput" rows="10" [(ngModel)]="message"></textarea>
    </div>
    <div class="d-flex justify-content-end">
      <button type="submit" class="btn btn-success" (click)="onSendMessage()">Envoyer</button>
    </div>
  </form>
</div>
