@import 'src/styles.scss';

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: $base-color;
}

.carousel-caption {
  color: $base-color;
  font-weight: bold;
}

.carousel-control {
  color: $base-color;
}
