<section class="section" id="monPortfolioSection">
  <h2>Portfolio</h2>
  <div class="container fondColore rounded">
    <section class="row">
      <div class="col-lg-4"><img src="assets/img/portfolio/plot1.jpg" alt="portfolio"></div>
      <div class="col-lg-4"><img src="assets/img/portfolio/plot1.jpg" alt="portfolio"></div>
      <div class="col-lg-4"><img src="assets/img/portfolio/plot1.jpg" alt="portfolio"></div>
      <div class="col-lg-4"><img src="assets/img/portfolio/plot1.jpg" alt="portfolio"></div>
      <div class="col-lg-4"><img src="assets/img/portfolio/plot1.jpg" alt="portfolio"></div>
      <div class="col-lg-4"><img src="assets/img/portfolio/plot1.jpg" alt="portfolio"></div>
    </section>
  </div>
</section>
