<section class="section row flex-column">
  <h2>Ce qu'ils disent de moi</h2>
  <div class="d-flex justify-content-center">
    <div>
      <img class="recommandationPhoto rounded-circle" src="../../../../assets/img/recommandations/paul.jpg"/>
    </div>
    <div class="col-lg-5">
      <p class="recommandationText">
        « Jérôme est un bon élément, avec des qualités humaines qui lui permette de s'intégrer facilement en équipe.
        Il a un bon esprit critique et de très bonnes connaissances techniques.
        Il est curieux et force de proposition. Ce fut une très bonne collaboration... »
      </p>
      <strong>Paul Renier, Association Cocktail</strong>
      <a target="_blank" class="ml-2" href="https://www.linkedin.com/in/paul-renier/"><i class="fa fa-linkedin-square"></i></a>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div>
      <img class="recommandationPhoto rounded-circle" src="../../../../assets/img/recommandations/thomas.png"/>
    </div>
    <div class="col-lg-5">
      <p class="recommandationText">
        « Travailler avec Jérôme est un réel plaisir. C'est quelqu'un qui humainement est capable de s'adapter à n'importe quelle équipe,
        situation et qui techniquement réussi ce qu'il entreprend.
        <br/><br/>
        Son expertise, sa force de proposition et son engagement ont permis de faire des merveilles sur l'un de nos projet critique et de le faire sortir
        dans les délais impartis ainsi qu'avec les critères de qualité élevés attendus.
        <br/><br/>
        Avoir une personne comme Jérôme dans son équipe est un réel atout et je vous souhaite de pouvoir collaborer avec lui un jour.»
      </p>
      <strong>Thomas Vautrin, Orange</strong>
      <a target="_blank" class="ml-2" href="https://www.linkedin.com/in/thomas-vautrin-1805a529/"><i class="fa fa-linkedin-square"></i></a>
    </div>
  </div>
</section>

