<div class="row">
  <div class="col-lg-8 offset-1">
    <h2>Me tenir infomé des disponibilités</h2>
  </div>
  <form action="https://freelance-bordeaux.us3.list-manage.com/subscribe/post?u=1a422ca515929434ecb763bf7&amp;id=1ef952f362"
        method="post" name="subscribe-form" target="_blank" novalidate  class="col-lg-8 offset-1 form-inline">
    <div class="input-group">
      <input type="email" placeholder="votre@email.com" class="form-control form-control-sm">
      <button class="btn btn-info btn-sm" type="submit"><span class="fa fa-envelope"></span></button>
    </div>
  </form>
</div>
