
.my-timeline {
  padding-top:50px;
  overflow:hidden;
  position:relative
}

.my-timeline:before {
  content:"";
  width:7px;
  height:100%;
  background:#262959;
  margin:0 auto;
  position:absolute;
  top:80px;
  left:0;
  right:0
}

.timeline {
  width:50%;
  float:left;
  padding:20px 60px;
  border-top:7px solid #262959;
  position:relative;
}

.timeline-left {
  border-right:7px solid #262959;
  border-left:none;
  border-radius:0 30px 0 0;
  right:-3.5px;
  left:auto;
}

.timeline-right {
  border-right:none;
  border-left:7px solid #262959;
  border-radius:30px 0 0;
  right:auto;
  left:-3.5px;
}

.my-timeline .timeline-right .icon {
  left:auto;
  right:0;
}

.my-timeline .icon {
  display:block;
  width:50px;
  height:50px;
  line-height:50px;
  border-radius:50%;
  background: silver;
  border:1px solid #fff;
  text-align:center;
  font-size:25px;
  color:#fff;
  box-shadow:0 0 0 2px silver;
  position:absolute;
  top:-30px;
  left:0
}

.my-timeline .timeline-content {
  display:block;
  padding:20px 10px 10px;
  border-radius:20px;
  background: silver;
  color:#262959;
  position:relative
}

.my-timeline .timeline-content:after,.my-timeline .timeline-content:before {
  content:"";
  display:block;
  width:10px;
  height:50px;
  border-radius:10px;
  background: silver;
  border:1px solid #fff;
  position:absolute;
  top:-35px;
  left:50px
}

.my-timeline .timeline-content:after {
  left:auto;
  right:50px
}


@media only screen and (max-width:767px) {
  .my-timeline:before {
    left:0;
    right:auto
  }
  .my-timeline .timeline,.my-timeline .timeline:nth-child(even),.my-timeline .timeline:nth-child(odd) {
    width:100%;
    float:none;
    padding:20px 20px;
    margin:0 0 30px;
    border-right:none;
    border-left:7px solid #262959;
    border-radius:30px 0 0;
    right:auto;
    left:0
  }
  .my-timeline .icon {
    left:auto;
    right:0
  }
}

.color-cocktail .timeline-content:after, .color-cocktail .timeline-content:before, .color-cocktail .timeline-content, .color-cocktail .icon {
  background: #4bd9bf;
}

.color-cocktail .icon {
  box-shadow:0 0 0 2px #4bd9bf;
}

.color-sopra .timeline-content:after, .color-sopra .timeline-content:before, .color-sopra .timeline-content, .color-sopra .icon {
  background: #ff9e09;
}

.color-sopra .icon {
  box-shadow:0 0 0 2px #ff9e09;
}

.color-enseirb .timeline-content:after, .color-enseirb .timeline-content:before, .color-enseirb .timeline-content, .color-enseirb .icon {
  background: #6CB1EB;
}

.color-enseirb .icon {
  box-shadow:0 0 0 2px #6CB1EB;
}

.color-cpge .timeline-content:after, .color-cpge .timeline-content:before, .color-cpge .timeline-content, .color-cpge .icon {
  background: salmon;
}

.color-cpge .icon {
  box-shadow:0 0 0 2px salmon;
}

.color-darkgray .timeline-content:after, .color-darkgray .timeline-content:before, .color-darkgray .timeline-content, .color-darkgray .icon {
  background: darkgray;
}

.color-darkgray .icon {
  box-shadow:0 0 0 2px darkgray;
}

.color-gold .timeline-content:after, .color-gold .timeline-content:before, .color-gold .timeline-content, .color-gold .icon {
  background: goldenrod;
}

.color-gold .icon {
  box-shadow:0 0 0 2px goldenrod;
}

.mt-100 {
  margin-top: 100px;
}
