<div class="container-fluid">
  <section class="section row flex-column">
    <h2>Ce qui m'a amené ici</h2>
    <div class="container col-8 offset-2">
      <div class="my-timeline">
        <div class="timeline timeline-left color-cocktail">
          <span class="icon fa fa-briefcase"></span>
          <a class="timeline-content">
            <strong>Ingénieur d’études à Association Cocktail, Talence</strong>
            <p class="description">
              •	Développement d’une application de paye à façon.<br/>
              •	Refonte d’applications existantes.<br/>
              •	Mise en place d’environnements conteneurisés.<br/>
              •	Ajout d’une communication asynchrone entre applications via Kafka.
            </p>
          </a>
        </div>
        <div class="timeline timeline-right mt-100">
          <span class="icon fa fa-graduation-cap"></span>
          <a class="timeline-content">
            <p class="description">
              <strong>Formation :</strong> Angular (3 jours) par Ambient IT.
            </p>
          </a>
        </div>
        <div class="timeline timeline-right color-docker">
          <span class="icon fa fa-graduation-cap"></span>
          <a class="timeline-content">
            <p class="description">
              <strong>Formation :</strong> L’essentiel pour maîtriser Docker (3 jours) par Treeptick.
            </p>
          </a>
        </div>
        <div class="timeline timeline-left color-sopra">
          <span class="icon fa fa-briefcase"></span>
          <a class="timeline-content">
            <strong>Ingénieur d’études à SOPRA STERIA, Mérignac</strong>
            <p class="description">
              •	Développement et maintien en condition d’opération d’une application web.<br/>
              •	Migration technique (Monté de version Java, Oracle, changement d’OS…).<br/>
              •	Industrialisation de SI, automatisation du process d’installation.
            </p>
          </a>
        </div>
        <div class="timeline timeline-right color-test mt-100">
          <span class="icon fa fa-graduation-cap"></span>
          <a class="timeline-content">
            <p class="description">
              <strong>Formation :</strong> Java testing (3 jours) par Sopra Académie.
            </p>
          </a>
        </div>
        <div class="timeline timeline-right color-java">
          <span class="icon fa fa-graduation-cap"></span>
          <a class="timeline-content">
            <p class="description">
              <strong>Formation :</strong> Principe des architectures Java EE (3 jours) par Sopra Académie
            </p>
          </a>
        </div>
        <div class="timeline timeline-left color-enseirb mt-5">
          <span class="icon fa fa-university"></span>
          <a class="timeline-content">
            <strong>Elève-ingénieur à l'ENSEIRB-MATMECA, Talence</strong>
            <p class="description">
              Etudiant au sein de la filière informatique de l'ENSEIRB-MATMECA (Ecole Nationale Supérieure d’Electronique, Informatique, Télécommunications,
              Mathématique et Mécanique) de Bordeaux.
            </p>
          </a>
        </div>
        <div class="timeline timeline-right color-diplome mt-5">
          <span class="icon fa fa-graduation-cap"></span>
          <a class="timeline-content">
            <p class="description">
              <strong>Diplôme d’ingénieur</strong> en informatique.
            </p>
          </a>
        </div>
        <div class="timeline timeline-right">
          <span class="icon fa fa-graduation-cap"></span>
          <a class="timeline-content">
            <p class="description">
              <strong>Formation :</strong> Théorie des jeux et Management & Marketing à l’IHK
            </p>
          </a>
        </div>
      </div>
    </div>
  </section>
  <app-profil></app-profil>
</div>
