<section class="section row flex-column">
  <h2>Ce qui m'a amené ici</h2>
  <div class="container col-lg-8 offset-2">
    <div class="my-timeline">
      <div class="timeline timeline-left color-cocktail">
        <span class="icon fa fa-briefcase"></span>
        <a class="timeline-content">
          <h4 class="title">Ingénieur d’études à Association Cocktail, Talence</h4>
          <p class="description">
            •	Développement d’une application de paye à façon.<br/>
            •	Refonte d’applications existantes.<br/>
            •	Mise en place d’environnements conteneurisés.<br/>
            •	Ajout d’une communication asynchrone entre applications via Kafka.
          </p>
        </a>
      </div>
      <div class="timeline timeline-right mt-100">
        <span class="icon fa fa-graduation-cap"></span>
        <a class="timeline-content">
          <p class="description">
            Formation : Angular (3 jours) par Ambient IT.
          </p>
        </a>
      </div>
      <div class="timeline timeline-right color-docker">
        <span class="icon fa fa-graduation-cap"></span>
        <a class="timeline-content">
          <p class="description">
            Formation : L’essentiel pour maîtriser Docker (3 jours) par Treeptick.
          </p>
        </a>
      </div>
      <div class="timeline timeline-left color-sopra">
        <span class="icon fa fa-briefcase"></span>
        <a class="timeline-content">
          <h3 class="title">Ingénieur d’études à SOPRA STERIA, Mérignac</h3>
          <p class="description">
            •	Développement et maintien en condition d’opération d’une application web.<br/>
            •	Migration technique (Monté de version Java, Oracle, changement d’OS…).<br/>
            •	Industrialisation de SI, automatisation du process d’installation.
          </p>
        </a>
      </div>
      <div class="timeline timeline-right color-test mt-100">
        <span class="icon fa fa-graduation-cap"></span>
        <a class="timeline-content">
          <p class="description">
            Formation : Java testing (3 jours) par Sopra Académie.
          </p>
        </a>
      </div>
      <div class="timeline timeline-right color-java">
        <span class="icon fa fa-graduation-cap"></span>
        <a class="timeline-content">
          <p class="description">
            Formation : Principe des architectures Java EE (3 jours) par Sopra Académie
          </p>
        </a>
      </div>
    </div>
  </div>
</section>
<app-profil></app-profil>
