/* You can add global styles to this file, and also import other style files */

body {
  margin: 0px;
}

p {
    text-align: justify;
    padding: 10px; /* Marge intérieure de 10px */
}

.sections {
    display: flex;
    flex-direction: column;
}

.section {
    display: flex;
    justify-content: center;
}
