/* You can add global styles to this file, and also import other style files */

$base-color: #262959;

body {
  margin: 0px;
  font-family: "Lucida Sans Unicode", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
                "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h2 {
  color: $base-color;
}

p {
  padding: 10px;
}

strong {
  color: $base-color;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.section {
  padding-top: 60px;
  display: flex;
  align-items: center;
}

.marginAuto {
  margin:auto;
}

.cursor-zoom-in {
  cursor: zoom-in;
}

.badge-primary {
  background-color: $base-color;
}
